<p>table-test works!</p>
<br />

<div>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Supplier ID</th>
          <th>Section Information</th>
          <th>Question</th>
          <th>Answer In Earliest</th>
          <th>Answer In Current</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">123</td>
          <td rowspan="2">Common Section</td>
          <td>What is your name?</td>
          <td>Data 1</td>
          <td>Data A</td>
        </tr>
        <tr>
          <td>How old are you?</td>
          <td>Data 2</td>
          <td>Data B</td>
        </tr>
        <tr>
          <td>456</td>
          <td>Specific Section</td>
          <td>Where are you from?</td>
          <td>Data 3</td>
        </tr>
        <tr>
          <td rowspan="5">789</td>
          <td rowspan="2">General Info</td>
          <td>Favorite color?</td>
          <td>Data 4</td>
          <td>Data D</td>
        </tr>
        <tr>
          <td>Hobby?</td>
          <td>Data 5</td>
          <td>Data E</td>
        </tr>
        <tr>
          <td rowspan="3">Specific Info</td>
          <td>Any comments?</td>
          <td>Data 6</td>
          <td>Data F</td>
        </tr>
        <tr>
          <td>Hobby?</td>
          <td>Data 5</td>
          <td>Data E</td>
        </tr>
        <tr>
          <td>Hobby?</td>
          <td>Data 5</td>
          <td>Data E</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
