<div
  class="position-relative py-2 px-4 text-bg-warning border border-secondary d-flex justify-content-between"
>
  <div class="text-center fw-bolder">
    <p>Courses</p>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    fill="currentColor"
    class="bi bi-houses-fill"
    viewBox="0 0 16 16"
    routerLink="/"
  >
    <path
      d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.51 2.51 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354z"
    />
    <path
      d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708z"
    />
  </svg>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end m-4">
  <button class="ui-btn mt-4" routerLink="/Courses/AddCourse">
    <span>Add Course </span>
  </button>
</div>

<!-- <p>courses works!</p> -->
<!-- <button type="button" routerLink="/">back</button> -->
<br />

<table class="table mt-5 w-50 p-3" *ngIf="CoursesList.length > 0">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course Name</th>
      <th scope="col">Course Abbriviation</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let item of CoursesList; let i = index">
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.courseName }}</td>
      <td>{{ item.courseAbbriviation }}</td>
      <td>
        <svg
          type="button"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-trash-fill me-2"
          viewBox="0 0 16 16"
          (click)="confirmDelete(i, item.id)"
        >
          <path
            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
          />
        </svg>

        <svg
          type="button"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-eye-fill ms-4"
          viewBox="0 0 16 16"
          routerLink="/Courses/Viewdetails/{{ item.id }}"
        >
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
          <path
            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
          />
        </svg>
        <!-- <button class="me-2" (click)="deleteItem(i, item.id)">delete</button> -->
        <!-- <button
          type="button"
          routerLink="/Universities/Viewdetails/{{ item.id }}"
        >
          view
        </button> -->
      </td>
    </tr>
  </tbody>
</table>
