<div
  class="position-relative py-2 px-4 text-bg-success border border-secondary d-flex justify-content-between"
>
  <div class="text-center fw-bolder">
    <p>Add Students</p>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    fill="currentColor"
    class="bi bi-houses-fill"
    viewBox="0 0 16 16"
    routerLink="/"
  >
    <path
      d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.51 2.51 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354z"
    />
    <path
      d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708z"
    />
  </svg>
</div>

<form [formGroup]="StudentForm">
  <div class="m-3">
    <label for="StudentName" class="form-label">Student Name</label>
    <div class="col-6">
      <input
        type="text"
        class="form-control"
        formControlName="StudentName"
        placeholder="Requiered*"
      />
    </div>
    <label for="Email" class="form-label mt-2">Student Email</label>
    <div class="col-6">
      <input type="text" class="form-control" formControlName="Email" />
    </div>

    <!-- dropdown here -->
    <label for="UniversityID" class="form-label mt-2">Student University</label>
    <div class="col-6">
      <!-- <input
        type="text"
        class="form-control"
        formControlName="StudentName"
        placeholder="Requiered*"
      /> -->
      <!-- Example single danger button -->
      <!-- <div class="btn-group">
        <button
          type="button"
          class="btn btn-success dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Universities
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let university of UniversityList">
            <a class="dropdown-item" href="#">{{
              university.universityName
            }}</a>
          </li>
        </ul>
      </div> -->

      <div class="btn-group">
        <button type="button" class="btn btn-success">
          {{ selectedUniversity || "Select a University" }}
        </button>
        <button
          type="button"
          class="btn btn-danger dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <!-- <span class="visually-hidden">Toggle Dropdown</span> -->
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let university of UniversityList">
            <a class="dropdown-item" (click)="selectUniversity(university)">{{
              university.universityName
            }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-end w-50 mt-4">
      <button
        type="btn"
        [disabled]="!StudentForm.valid"
        class="btn btn-success ms-5 d-flex"
        
        (click)="addStudent()"
      >
        Submit
      </button>
    </div>
  </div>
</form>
